@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/fonts";
@import "../global_styles/animations";

@import "../partials/modal";
@import "../partials/initialBody";

/////// STYLES ///////

.footer-wrapper {
  width: 100%;
  border: 2px dotted $foxy;

  @media screen and (max-width: 1024px) {
    border: 5px solid $blueDark;
  }

  @include flex-box($flex-box-row-center-wrap...);
}