@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/fonts";
@import "../global_styles/animations";
@import "../global_styles/media";

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100em;
}