<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible"
      content="ie=edge">

{{#ifequal lang "ru"}}
<meta name="description" content="{{ dataRu.meta.description }}">
<meta name="keywords" content="{{ dataRu.meta.keywords }}">
<meta name="page-topic" content="{{ dataRu.meta.pageTopic }}">
<title>"{{ dataRu.meta.title }}"</title>
{{else}}
<meta name="description" content="{{ dataUk.meta.description }}">
<meta name="keywords" content="{{ dataUk.meta.keywords }}">
<meta name="page-topic" content="{{ dataUk.meta.pageTopic }}">
<title>"{{ dataUk.meta.title }}"</title>
{{/ifequal}}

<meta name="robots" content="{{ robotsActivate }}">

<script type="module" src="js/main.min.js"></script>
<link rel="stylesheet" href="css/styles.min.css">