<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible"
      content="ie=edge">
<meta name="description" content="description">
<meta name="keywords" content="keywords">
<meta name="page-topic" content="page topic">
<meta name="description" content="{{ dataUk.meta.description }}">
<meta name="keywords" content="{{ dataUk.meta.keywords }}">
<meta name="page-topic" content="{{ dataUk.meta.pageTopic }}">
<meta name="robots" content="{{ robotsActivate }}">
<title>document</title>
<link rel="stylesheet" href="css/main.css">
<!--<script type="module" src="js/main.min.js"></script>-->
<!--<script type="module" src="js/main.js"></script>-->
<!--<link rel="stylesheet" href="css/styles.min.css">-->
