<header class="header-wrapper">
  <div class="img-wrapper">
    <img src="./assets/images/components/roller-logo.webp" alt="Ворота Ролети лого" />
  </div>
<!--  <div class="nav-wrapper">
    <div class="nav-heading-wrapper">
      <div class="phone-wrapper">
        <a href="tel:%2B380991019368">
          <span>+38 (099) 101 93 68</span>
        </a>
      </div>
    </div>
    <nav class="nav_list">
      <a href="#" target="_self" class="nav_list__link" >Головна</a>
      <a href="#" target="_self" class="nav_list__link" >Сервіси</a>
      <a href="#" target="_self" class="nav_list__link" >Переваги</a>
      <a href="#" target="_self" class="nav_list__link" >Про нас</a>
    </nav>
  </div>-->
</header>