<header class="header-wrapper" role="banner">
  @@if (page && headParams && headParams[page]) {
  <div class="img-wrapper">
    <img src="@@headParams.@@page.root/assets/img/img-experience_1.jpg" loading="lazy" alt="meditation">
  </div>
  <nav class="header__nav" role="navigation">
    <a href="@@headParams.@@page.root/index.html" target="_self" class="nav-link">Main Page</a>
    <a href="@@headParams.@@page.root/about.html" target="_self" class="nav-link">About Page</a>
    <a href="@@headParams.@@page.root/somePages/somePage.html" target="_self" class="nav-link">Some Page</a>
  </nav>
  }
</header>