@font-face {
  font-family: "EuroFontC";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url('../assets/fonts/EuroFontC/EuroFontC.otf') format("truetype");
}

@font-face {
  font-family: "StardosStencil-Regular";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url("../assets/fonts/Stardos/StardosStencil-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}