//////// global styles /////////
@import "./global_styles/reset";
@import "./global_styles/variables";
@import "./global_styles/mixins";
@import "./global_styles/extends";
@import "./global_styles/fonts";
@import "./global_styles/animations";
@import "./global_styles/media";

////// partials styles ////////
@import "./partials/root";
@import "./partials/header";
@import "./partials/footer";

/////// STYLES ////////
.total-wrapper {
  font-size: 1.125rem;  //18px
  max-width: $maxWidth; //1440px;
  min-width: $minWidth; //320px;
  margin: 0 auto;
  background-color: $white;
  color: $color-04;

  /* tablet (landscape) max-width: 1280px */
  @include maxTabletLandscape {
    font-size: var(--range_18-16_max-1280px);  //in root.scss
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include maxMobilePortraitWide {
    font-size: 0.938rem;  //15px
  }
}