@use "./global_styles/root" as root;
@use "../js/modulesPack/gallery-thumbs/scss/gallery-thumbs.scss";
@use "./partials/footer";
@use "./partials/header";

/////// STYLES ////////
// it is used for avoiding the page shift on removing the scrollbar at overflow: hidden;
/*.total-layer {
  width: 100vw;
  padding-right: 17px;
  overflow: hidden;
  box-sizing: content-box;
}*/

.total-wrapper {
  box-sizing: border-box;

  position: relative;
  font-size: 1.125rem;  //18px
  //font-size: 1rem;  //16px
  max-width: root.$maxWidth; //1440px;
  //min-width: vr.$minWidth; //320px;
  margin: 0 auto;
  background-color: root.$white;
  color: root.$color-04;

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: 0.938rem;  //15px
  }
}

.section {
  //FOR GSAP:
  overflow: hidden; //for transformed, not absolute elements
  font-size: 1em; //font-size inherits from total-wrapper
  width: 100%;

  @extend %sectionWrapper;  //margin-top, margin-bottom calculations
}

.button-request {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  font-weight: 600;
  width: 275px;
  padding: 1em 1.6em;
  background-color: root.$color-01;
  border: none;
  color: root.$white;
  border-radius: 0.5em;
  margin-top: 40px; //constant margin
  box-shadow: 0.1em 0.15em 0.2em rgba(0, 0, 0, 0.8);

  @include root.transition();

  /* tablet (portrait): (max-width: 1024px) */
  @include root.maxTabletPortrait {
    font-size: 1.185rem;
    width: 270px;
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: 1rem;
    width: 250px;
  }

  &:hover {
    transform: translateY(-0.18em);
    background-color: root.$color-01-darken;
    box-shadow: 0.12em 0.25em 0.3em rgba(0, 0, 0, 0.8);
  }

  &:active {
    background-color: root.$color-01-darkest;
    box-shadow: 0.06em 0.125em 0.125em rgba(0, 0, 0, 0.8);
    transform: translateY(0);
  }
}

.bg-darker {
  background-color: root.$color-13;
}

.foxy-on-hover {
  transition: background-color 0.15s ease;
  &:hover {
    background-color: root.$color-01 !important;
  }
}

.section__content-layer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @extend %contentWrapper;  //padding calculations

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    align-items: center;
  }
}

.section__heading-block {
  text-transform: uppercase;

  .accent {
    display: inline-block;
    font-size: 1.611em;
    line-height: 1;

    //////// GSAP:
    opacity: 0;

    /* mobile (portrait narrow): (max-width: 480px)*/
    @include root.maxMobilePortraitNarrow {
      margin-bottom: 0.25em;
    }
  }

  .rest-of-heading {
    display: inline-block;

    //////// GSAP:
    opacity: 0;
  }

  .sub-p {
    text-transform: initial;
    font-size: 0.4em;
    margin-top: 1.5em;

    /* mobile (portrait wide): (max-width: 640px) */
    @include root.maxMobilePortraitWide {
      font-size: 14px;
    }
  }

  h1, h2, {
    font-size: inherit;
  }

  hr {
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, root.$color_01 0%, root.$rgba_opacity-0 90%);
  }
}

.section__content-block {
  width: 100%;
  display: flex;

  //@include transition();  //transition all

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.section__content-block--row-center {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.section__content-block--row-left {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.section__content-block--row-right {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.section__content-block--row-between {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-container {
  @include root.flex-box(row, center, center, wrap);
}

.flex-gap-02-01 {
  gap: 2em 1em;
}

.flex-gap-02-02 {
  gap: 2em;
}

.section__text-block {

  p + p {
    margin-top: 0.5em;
    overflow-wrap: break-word;
  }
}

.section__text-separ {
  font-weight: 600;
  margin-top: 0.5em;

  &:first-of-type {
    margin-top: 0;
    margin-bottom: 0.89em;
  }

  &.section__text-separ--subheading {
    margin-top: 0.89em;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.section__text-list {
  list-style: inside;
  margin-bottom: 0.5em;
}

.section__img-wrapper {
}

.section__bidding-block {
  @include root.flex-box(column, center, flex-start, wrap);
}

.section__heading-block--separation {
  font-size: 48px;
  margin-bottom: 0.77em;
  max-width: 15em;

  /* tablet (landscape) max-width: 1280px */
  @include root.maxTabletLandscape {
    font-size: var(--range_48-32_max-1280px);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: var(--range_32-23_max-640px);
  }

  h2 {
    margin-bottom: 0.33em;
  }
}

.content-block-item {
  font-size: 1em; //from the parent
  width: 100%;
  padding: 1em 1.25em 0;

  @include root.flex-box(column, flex-start, center);
}

.content-block-item__img-wrapper {
  width: 100%;
  margin-bottom: 3em;
}

.content-block-item__heading {
  font-size: 1em;
  text-align: center;
  margin-bottom: 2em;
  word-wrap: break-word;

  /* mobile (landscape): (max-width: 768px)*/
  @include root.maxMobileLandscape {
    font-size: 16px;
  }
}

.content-block-item__text-block {
  font-size: 16px;

  /* mobile (landscape): (max-width: 768px)*/
  @include root.maxMobileLandscape {
    font-size: 15px;
  }
}

//// GSAP:
[data-anime=fade-in-left] {
  opacity: 0;
}

[data-anime=fade-in-right] {
  opacity: 0;
}

[data-anime=fade-in-up] {
  opacity: 0;
}

[data-anime=scale-in] {
  opacity: 0;
  transform-origin: 50% 100%;
}

/////////// section "hero" //////////
.section--hero {
  font-size: 1.8em;
  //background-origin: border-box;
  //background-position: 85%;
  //background-repeat: no-repeat;
  background-size: cover;

  /* tablet (landscape) max-width: 1280px */
  @include root.maxTabletLandscape {
    font-size: calc(var(--range_24-18_max-1280px) * 1.4);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: 1.6em;
  }

  /* mobile (medium): (max-width: 375px) */
  @include root.maxMobileMedium {
    font-size: 1.4em;
  }

  &[aria-labelledby="index"] {
    background-image:
      linear-gradient(to right, rgba(40, 32, 23, .7) 35%, rgba(40, 32, 23, 0) 85%),
      image-set(
          url("/assets/img/heroSection/hero_professional_1440.webp") 1x,
          url("/assets/img/heroSection/hero_professional_1440.jpg") 1x
      );

    /* tablet (portrait): (max-width: 1024px) */
    @include root.maxTabletPortrait {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .7) 35%, rgba(40, 32, 23, 0) 85%),
        image-set(
            url("/assets/img/heroSection/hero_professional_1024.webp") 1x,
            url("/assets/img/heroSection/hero_professional_1024.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7) 35%, rgba(40, 32, 23, 0) 85%),
              image-set(
                url("/assets/img/heroSection/hero_professional_1024@2x.webp") 2x,
                url("/assets/img/heroSection/hero_professional_1024@2x.jpg") 2x
            );
          }*/
    }

    /* mobile (portrait wide): (max-width: 640px) */
    @include root.maxMobilePortraitWide {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .6), rgba(40, 32, 23, .5)),
        image-set(
            url("/assets/img/heroSection/hero_professional_640.webp") 1x,
            url("/assets/img/heroSection/hero_professional_640.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7), rgba(40, 32, 23, .7)),
              image-set(
                url("/assets/img/heroSection/hero_professional_640@2x.webp") 2x,
                url("/assets/img/heroSection/hero_professional_640@2x.jpg") 2x
            );
          }*/
    }
  }

  &[aria-labelledby="gates"] {
    background-image:
      linear-gradient(to right, rgba(40, 32, 23, .8) 35%, rgba(40, 32, 23, 0) 85%),
      image-set(
          url("/assets/img/heroSection/gates-automatic_1440.webp") 1x,
          url("/assets/img/heroSection/gates-automatic_1440.jpg") 1x
      );

    /* tablet (portrait): (max-width: 1024px) */
    @include root.maxTabletPortrait {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .8) 35%, rgba(40, 32, 23, 0) 85%),
        image-set(
            url("/assets/img/heroSection/gates-automatic_1024.webp") 1x,
            url("/assets/img/heroSection/gates-automatic_1024.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7) 35%, rgba(40, 32, 23, 0) 85%),
              image-set(
                url("/assets/img/heroSection/gates-automatic_1024@2x.webp") 2x,
                url("/assets/img/heroSection/gates-automatic_1024@2x.jpg") 2x
            );
          }*/
    }

    /* mobile (portrait wide): (max-width: 640px) */
    @include root.maxMobilePortraitWide {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .7), rgba(40, 32, 23, .5)),
        image-set(
            url("/assets/img/heroSection/gates-automatic_640.webp") 1x,
            url("/assets/img/heroSection/gates-automatic_640.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7), rgba(40, 32, 23, .7)),
              image-set(
                url("/assets/img/heroSection/gates-automatic_640@2x.webp") 2x,
                url("/assets/img/heroSection/gates-automatic_640@2x.jpg") 2x
            );
          }*/
    }
  }

  &[aria-labelledby="rollers"] {
    background-image:
      linear-gradient(to right, rgba(40, 32, 23, .8) 35%, rgba(40, 32, 23, 0) 85%),
      image-set(
          url("/assets/img/heroSection/security_shutters_roll-up_1440.webp") 1x,
          url("/assets/img/heroSection/security_shutters_roll-up_1440.jpg") 1x
      );

    /* tablet (portrait): (max-width: 1024px) */
    @include root.maxTabletPortrait {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .8) 35%, rgba(40, 32, 23, 0) 85%),
        image-set(
            url("/assets/img/heroSection/security_shutters_roll-up_1024.webp") 1x,
            url("/assets/img/heroSection/security_shutters_roll-up_1024.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7) 35%, rgba(40, 32, 23, 0) 85%),
              image-set(
                url("/assets/img/heroSection/security_shutters_roll-up_1024@2x.webp") 2x,
                url("/assets/img/heroSection/security_shutters_roll-up_1024@2x.jpg") 2x
            );
          }*/
    }

    /* mobile (portrait wide): (max-width: 640px) */
    @include root.maxMobilePortraitWide {
      background-image:
        linear-gradient(to right, rgba(40, 32, 23, .7), rgba(40, 32, 23, .5)),
        image-set(
            url("/assets/img/heroSection/security_shutters_roll-up_640.webp") 1x,
            url("/assets/img/heroSection/security_shutters_roll-up_640.jpg") 1x
        );

      //retina can be included
      /*    @include root.mediaRetina2x {
            background-image:
              linear-gradient(to right, rgba(40, 32, 23, .7), rgba(40, 32, 23, .7)),
              image-set(
                url("/assets/img/heroSection/security_shutters_roll-up_640@2x.webp") 2x,
                url("/assets/img/heroSection/security_shutters_roll-up_640@2x.jpg") 2x
            );
          }*/
    }
  }
}

.section__content-layer--hero {
  color: root.$white;
}

.section__heading-block--hero {
  //font-size: 1em;
  max-width: 18.6em;
  margin-bottom: 1em;
  text-shadow: 0.05em 0.1em 0.1em rgba(0, 0, 0, 0.8);

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    text-align: center;
  }
}

.section__text-block--hero {
  font-size: 24px;
  max-width: 20em;

  ////////// GSAP:
  opacity: 0;

  /* tablet (landscape) max-width: 1280px */
  @include root.maxTabletLandscape {
    font-size: var(--range_24-18_max-1280px);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: 18px;
  }
}

.section__img-wrapper--hero {
  width: 6.5em;

  ////////// GSAP:
  transform: scale(0);
}

.section__bidding-block--hero {
  font-size: 24px;
  //max-width: 14.1em;

  ///////// GSAP:
  opacity: 0;

  /* tablet (landscape) max-width: 1280px */
  @include root.maxTabletLandscape {
    font-size: var(--range_24-18_max-1280px);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    font-size: 18px;
    margin-top: 1.4em;
    align-items: center;
    text-align: center;
  }

  p {
    max-width: 14em;
  }
}

//////////  pair  ///////////

.section__content-block--pair {
  position: relative;
  z-index: 5;

  /* tablet (portrait): (max-width: 1024px) */
  @include root.maxTabletPortrait {
    justify-content: flex-end;

    &.img-right {
      justify-content: flex-start;
    }
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    gap: 3em;
  }

  &.margin-top {
    margin-top: 4.44em;
  }
}

.section__img-wrapper--pair {
  width: 22.23em;

  /* tablet (landscape) max-width: 1280px */
  @include root.maxTabletLandscape {
    width: 31.25vw;
  }

  /* tablet (portrait): (max-width: 1024px) */
  @include root.maxTabletPortrait {
    position: absolute;
    top: 0;
    left: 0;  /* section image/text */
    z-index: 0;
    width: 18em;

    &:not(:first-of-type) {
      right: 0; /* section text/image */
      left: auto;
    }
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    position: static;
    width: 15.5em;

    &.order-02 {
      order: 2;
    }
  }
}

.section__text-block--pair {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 30em;

  /* tablet (portrait): (max-width: 1024px) */
  @include root.maxTabletPortrait {
    max-width: 28em;

    &:before {
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";
      transform: scaleX(1.1) scaleY(1.05);
      background-color: root.$white;
      opacity: 0.7;
    }
  }

  /* mobile (landscape): (max-width: 768px)*/
  @include root.maxMobileLandscape {
    max-width: 27em;
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include root.maxMobilePortraitWide {
    &:before {
      display: none;
    }
  }
}

///////////////////// single text-block /////////////////////////
.section__text-block--single {
  width: 100%;
  max-width: 30em;

  /* tablet (portrait): (max-width: 1024px) */
  @include root.maxTabletPortrait {
    max-width: 28em;
  }

  /* mobile (landscape): (max-width: 768px)*/
  @include root.maxMobileLandscape {
    max-width: 27em;
  }
}

///////// logo slider ///////////////
.logo-wrapper {
  width: 100%;

  @include root.flex-box(row, center, center, wrap);
  gap: 1em;

  &__item {
    width: clamp(5em, 12vw, 9em);
  }
}

/////////////////// gallery ///////////////////
#gallery-work {
  width: 100%;
  height: 45em;
  @include root.scroll-init(0.45em, rgba(255, 133, 2, 1), rgba(255, 133, 2, .5));
}

.gallery__item {
  width: 30%;
  min-width: 12.22em;
  will-change: transform, opacity;
  border-radius: 0.5em;
  overflow: hidden;
  opacity: 0;

  @include root.box-shadow(0.2em, 0.4em);

  &:hover {
    cursor: pointer;

    img, svg, picture, video, object {
      transform: scale(1.05);
    }
  }

  img, svg, picture, video, object {
    border-radius: 0.5em;

    @include root.transition(transform, 0.15s);
  }
}