@import "global_styles/reset";
@import "./global_styles/variables";
@import "./global_styles/mixins";
@import "./global_styles/fonts";
@import "./global_styles/animations";

@import "./partials/initialBody";
@import "./partials/header";
@import "./partials/footer";


/////// STYLES ///////

#barrier-wrapper {
  width: 100%;

  @include flex-box($flex-box-row-center-wrap...);

  .main-container {
    width: 100%;
    color: $foxy;
  }

  .pointer-container {
    color: green;
  }
}

.someBlock {
  width: 90%;
  margin: 0 auto;

  img, picture {
    width: inherit;
    height: auto;
  }
}

.unused {

}