@import "global_styles/reset";
@import "./global_styles/variables";
@import "./global_styles/mixins";
@import "./global_styles/fonts";
@import "./global_styles/animations";

@import "./partials/modal";
@import "./partials/initialBody";
@import "./partials/header";
@import "./partials/footer";


/////// STYLES ///////


.total-wrapper {
  font-size: 1rem;
  position: relative; //for the alert block in absolute position
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
  padding: 1.5em 0.5em;

  border: 1px dotted red;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
  }

  @media screen and (max-width: 1024px) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
}

#barrier-wrapper {
  width: 100%;

  @include flex-box($flex-box-row-center-wrap...);

  .main-container {
    color: red;
  }

  .pointer-container {
    color: green;
  }
}

.unused {

}